header {
  background-color: rgb(0, 0, 0);
  padding: 20px 40px;
}
.header-content {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.header-content a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}
